~*
# Stupid macOS temporary files

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


Icon?

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Stuff from the Nova editor
.nova
node_modules
package.json
package-lock.json
.eslintrc.yml

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.lo
*.la
*.dep

# Folders
_obj
_test

# Build artifacts
agent/configure.ac
agent/newrelic.map
agent/*.dep
axiom/tests
bin/
pkg/

# Test artifacts
integration-tests.log
make/secrets.mk
php_agent.log
