#
# Copyright 2021 New Relic Corporation. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
#
version: '3.7'
services:
# The Database
  mysqldb:
    # original
    #image: mysql:5.7
    # arm64 needs this version
    image: mysql/mysql-server:8.0.23
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: admin
      MYSQL_DATABASE: database
      MYSQL_USER: admin 
      MYSQL_PASSWORD: admin
      MYSQL_HOST: mysqldb
    ports:
      - "33061:3306"
    container_name: mysqldb
  redisdb:
    build:
      context: .
      dockerfile: files/Dockerfile.redis
    restart: always
    ports:
      - "6379:6379"
    container_name: redisdb
  memcached:
    image: memcached:latest
    restart: always
    ports:
      - "11211:11211"
    container_name: memcached
#  mongodb:
#    image: mongo:latest
#    restart: always
#    ports:
#      - "27019:27019"
  agent:
    build:
      context: .
      dockerfile: files/Dockerfile
    user: ${UID}:${GID}
    environment:
      MYSQL_DB: database
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWD: ${MYSQL_PASSWD}
      MYSQL_HOST: ${MYSQL_HOST}
      REDIS_HOST: redisdb
      MEMCACHE_HOST: memcached
#      MONGO_HOST: mongodb
      PREDIS_HOME: /usr/src/myapp/vendor/predis/predis/
      PS1: "New Relic > "
      NEWRELIC_COLLECTOR_HOST : ${NEWRELIC_COLLECTOR_HOST:-collector.newrelic.com}
      NEWRELIC_LICENSE_KEY: ${NEWRELIC_LICENSE_KEY}
    volumes:
       - ${PWD}:/usr/src/myapp
    working_dir: /usr/src/myapp
    stdin_open: true
    tty: true
    container_name: agent
