*.a
*.d
*.o
*.E
*.dSYM
*.gcov_stash/
*_scanbuild.reports/
gcov_aggregate/
*_scanbuild.out
*_scanbuild.reduced.out
*_scanbuild0.c
*_scanbuild.c
Makefile.dep
*.gcno
*.gcda
*.gcov
valgrind_output
helgrind_output
cobertura.xml
cobertura.txt
FILES
junk
make.log
tags
*.E
*.ln
core
*.analyze/
strace.out
dtrace.out
*.pin.*.out
*.core
junk*
clang_header.h
# vi/ex scripts
*.ex

# Test binaries
test_agent
test_analytics_events
test_apdex
test_app
test_app_harvest
test_async_context
test_attributes
test_base64
test_buffer
test_cmd_appinfo
test_cmd_span_batch
test_cmd_txndata
test_configstrings
test_custom_events
test_daemon_spawn
test_datastore
test_datastore_instance
test_distributed_trace
test_errors
test_exclusive_time
test_explain
test_file_naming
test_flatbuffers
test_guid
test_hash
test_hashmap
test_header
test_helgrind
test_json
test_labels
test_log_event
test_log_events
test_log_level
test_logging
test_logging_parallel
test_matcher
test_math
test_memory
test_metrics
test_minmax_heap
test_mysqli_metadata
test_network
test_number_converter
test_obfuscate
test_object
test_offsets
test_postgres
test_quarantine
test_random
test_regex
test_reply
test_rules
test_rum
test_sampling
test_segment
test_segment_children
test_segment_datastore
test_segment_external
test_segment_private
test_segment_terms
test_segment_traces
test_segment_tree
test_serialize
test_set
test_signals
test_slab
test_slowsqls
test_sort
test_span_encoding
test_span_event
test_span_queue
test_sql
test_stack
test_string_pool
test_strings
test_strsplit
test_synthetics
test_system
test_text
test_threads
test_time
test_txn
test_url
test_vector
