.deps
.libs
Makefile.fragments
Makefile.global
Makefile.objects
*.dSYM
acinclude.m4
aclocal.m4
autom4te.cache
build
config.cache
config.guess
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
*.lo
install-sh
libtool
*.log
ltmain.sh
missing
mkinstalldirs
modules/
buildproducts/
*.la
run-tests.php
config.h
*.o
*.out
*.result
*.swp
Makefile
*.loT
test*.php
test*.inc
logs/php_error_log

*.deb
*.changes

#
# Results from running various gcov like tools
#
gcov_aggregate/
nr_agent.gcov_stash/
cobertura.txt
cobertura.xml

.gdb_history
.gdbinit

*grind.xml
clang_scan_build_input.c

#
# artifacts from running lgrind
#
*.gcov
*.aux
*.idx
*.pdf
*.tex

#
# product files from new flat build
#
Darwin/
Linux/
FreeBSD/

#
# one off simple developer only shell scripts
#
?.sh

#
# transient byproducts of configure
#
confdefs.h
